[submodule "auth"]
	path = auth
	url = git@github.com:likecompany/auth.git
[submodule "balance"]
	path = balance
	url = git@github.com:likecompany/balance.git
[submodule "bot"]
	path = bot
	url = git@github.com:likecompany/bot.git
[submodule "collection"]
	path = collection
	url = git@github.com:likecompany/collection.git
[submodule "file"]
	path = file
	url = git@github.com:likecompany/file.git
[submodule "like"]
	path = like
	url = git@github.com:likecompany/like.git
