server {
    listen [::]:${COLLECTION_PORT};
    listen ${COLLECTION_PORT};

    server_name collection;

    location / {
        proxy_set_header X-Real-IP ${DOLLAR}remote_addr;
        proxy_set_header X-Forward-For ${DOLLAR}proxy_add_x_forwarded_for;
        proxy_set_header Host ${DOLLAR}http_host;

        proxy_pass http://collection_backend:{COLLECTION_PORT};
    }
}
